@charset "utf-8";
/* CSS Document */
* { 
	font-size: 18px;
	font-family:Verdana, Geneva, sans-serif;
	margin: 2px;
	padding: 2px;
  }

 h1{
	font-size: 20px;
	text-align: center;

 }
 
 td{
	border: 1px solid #000000;
	padding: 0px;
	margin: 0px;
	width: 70px;
	text-align: center;
 }
 